on:
  push:
    branches:
      - main
    paths-ignore:
      - 'slides/*'

name: Render & Deploy Book

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@master

      - uses: r-lib/actions/setup-pandoc@master

      - name: Install dependencies
        run: |
          install.packages("rmarkdown")
          install.packages("bookdown")
        shell: Rscript {0}

      - name: Render Site
        run: Rscript -e 'bookdown::render_book()'
      - name: Commit results
        run: |
          git add -A
          git commit -m 'Rebuild book' || echo "No changes to commit"
          git push origin || echo "No changes to commit"